<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add data</title>
  </head>
  <body>
    <h1>Add details</h1>
    <form
      action="/add"
      autocomplete="off"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="name">Name</label>
      <input id="name" name="name" />
      <br />
      <br />
      <!-- <input type="file" name="image" /> -->
      <input type="file" name="image" multiple />
      <br />
      <br />
      <label for="description">Description</label>
      <textarea id="description" name="description"></textarea>
      <br />
      <br />
      <button>Submit</button>
    </form>
  </body>
</html>
